{% extends 'base_user.html' %}
{% block contents %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>로그인</h3>
            </div>
            <div class="card-body">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i {% ifequal field.name 'username' %}class="fas fa-user"{% else %}class="fas fa-key"{% endifequal %}></i></span>
                        </div>
                        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}"/>
                    </div>
                    {% if field.errors %}
                    <span style="color:red;">{{ field.errors }}</span>
                    {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="/register">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
